.resumen {
    display: flex;
    justify-content: space-around;

}

.totalShopping {
    text-align: right;
    margin-right: 160px;
}

.carritoVacio {
    text-align: center;
}

.botonesCarrito {
    display: flex;
    justify-content: space-around;

}