.modal {
    background-color: rgba(0, 0, 0, .85);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
    justify-content: center;
    align-items: center;

}

.modal__dialog {
    display: block;
    background: #A8C7D6;
    padding: 10px;
    width: 500px;
    height: auto;
    font-size: 14px;
    font-weight: bold;
    align-items: flex-end;
}

.modal-open {
    display: grid;
}

.registrar {
    text-align: center;
}